.grid {
  margin-bottom: 25px;
  margin-top: 25px;

  animation-name: initAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes initAnimation {
  0% {
    opacity: 0%;
    transform: translate(4px, 20%);
  }
  100% {
    opacity: 100%;
    transform: translate(0px, 20%);
  }
}

input {
  margin-top: 10px;
  margin-bottom: 0px;
}

.grid {
  margin-top: 0px;
  margin-bottom: 20px;
}